// Colors
$darkorchid: #7b458d;
$darkorchid1: #69008B;
$darkgoldenrod: #F29F05;
$deeppink: #EC339B;
$pink: #EB148A;
$turquoise: #278B9B;
$black: black;
$white: white;
$dark: #1a1a1a;
$light: #e3e3e3;

// Body
$body-bg: $black;

// Menu Background
$menu-background: #FCE9F3;

// Typography
$font-family-mono: 'IBM Plex Mono', monospace;
$font-family-serif: 'IBM Plex Serif', serif;
$font-family-sans-serif-condensed: 'IBM Plex Sans Condensed', sans-serif;
$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$font-weight: 400;
$font-weight-bold: 700;
$font-style: normal;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$media-breakpoint-1: 768px;

// bootstrap
$navbar-brand-padding-y: 3px;
$navbar-brand-font-size: 64px;
$navbar-dark-brand-color: #FCE9F3;

$line-height-base: 1;


