// Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'IBM Plex Serif', serif;
 */
// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';


body {
  line-height: 1;
  background-color: $dark;
}

// bootstrap stuff
.bg-black {
  background-color: $dark;
}

.navbar-dark .navbar-brand {
  color: $navbar-dark-brand-color;
}

.navbar {
  padding: 2px
}

.navbar-brand {
  font-family: $font-family-sans-serif-condensed;
  font-weight: $font-weight;
  font-style: normal;
}

.no-padding {
  padding: 0;
}
// end bootstrap stuff


.type-cell {
  /* border: 1px solid blue; */
  position: relative;
}

.type-cell.notfound {
  filter: grayscale(0.7) brightness(0.15);
}

.type-news {
  /* border: 1px solid blue; */
  position: relative;
  background-color: $dark;
}

.type-news.notfound {
  filter: invert(1);
}

.type-impressum-page {
  /* border: 1px solid blue; */
  position: relative;
  background-color: $light;
  color: $dark;
}

.type-impressum {
  text-align: center;
  font-size: 18px;
  position: relative;
}

.text {
  padding: 3px;
  //  font-family: 'IBM Plex Sans', sans-serif;
  //  font-size: 12px;
  /* visibility: hidden; */
}

.boxhead {
  padding: 3px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  /* visibility: hidden; */
}

.pos-top {
  position: absolute;
  top: 0;
}

.pos-top2 {
  position: absolute;
  top: 35px ;
}

.pos-middle {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pos-bottom {
  position: absolute;
  bottom: 0;
}

#hamburger-content {
  padding: 0;
  background-color: $hamburger-background;
  z-index: 50;
  visibility: hidden;
}

.box1 {
  color: $deeppink;
  background-color: $darkorchid1;
  > div {
    font-family: $font-family-sans-serif-condensed;
    font-weight: 400;
    font-size: 24px;
    position: absolute;
    bottom: 0;
  }
}

.box2 {
  color: $darkgoldenrod;
  background-color: $deeppink;
  > div {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight;
    font-size: 24px;
    position: absolute;
    bottom: 0;
  }
}


.box3 {
  color: $white;
  background-color: $dark;
  > div {
    //font-family: $font-family-serif;
    //font-weight: $font-weight;
    //font-size: 24px;
    //position: absolute;
    //bottom: 0;
  }
}

.box4 {
  color: $black;
  background-color: $turquoise;
  > div {
    font-family: $font-family-serif;
    font-weight: $font-weight;
    font-size: 24px;
    position: absolute;
    top: 0;
  }
}

.box5 {
  color: $darkgoldenrod;
  background-color: $darkorchid;
  > div {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight;
    font-size: 24px;
    position: absolute;
    top: 0;
  }
}

.box6 {
  color: $darkorchid;
  background-color: $darkgoldenrod;
  > div {
    font-family: $font-family-sans-serif-condensed;
    font-weight: $font-weight;
    font-size: 24px;
    position: absolute;
    bottom: 0;
  }
}

.extlink {
  text-decoration: inherit;
  color: white;
}
a.extlink:hover {
  color: $deeppink;
}

.link {
  text-decoration: inherit;
  color: black;
}
a.link:hover {
  color: $deeppink;
}

.light {
  background-color: $light;
}

#menu-1-content {
  padding: 0 0 0 10px;
  background-color: $menu-1-background;
  z-index: 50;
  visibility: hidden;


  div.filter-entry {
    a:hover {
      background-color: $darkgoldenrod;
      font-weight: 500;
    }
    a.selected {
      background-color: $darkgoldenrod;
      font-weight: 500;
    }
  }

}

#menu-2-content {
  padding: 0 10px 0 0;
  background-color: $menu-2-background;
  z-index: 50;
  visibility: hidden;
  text-align: right;

  div.filter-entry {
    a:hover {
      background-color: $darkorchid;
      font-weight: 500;
    }
    a.selected {
      background-color: $darkorchid;
      font-weight: 500;
    }
  }

}

.menu-content {
  h3 {
    padding-top: 45px;
    font-family: $font-family-sans-serif;
    font-size: 25px;
    font-weight: $font-weight;
  }
}

.hamburger-content {
  h3 {
    font-family: $font-family-sans-serif;
    font-size: 25px;
    font-weight: $font-weight;
  }
}

.filter-entry {
  a {
    text-decoration: none;
    color: $dark;
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;

  }
  a.selected:hover {
    background-color: inherit;
    font-weight: 400;
  }
  font-family: $font-family-sans-serif;
  font-size: 20px;
  font-weight: $font-weight;
  margin: 0;
  padding: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #7B1FA2;
  background-color: #7B1FA2;
}

#content-text a {
  color: inherit;
}

#content-text a:hover {
  color: inherit;
}

#content > ul {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.news-box {
  width: 400px;
  border: none;
  list-style: none;
  margin: 10px;
  font-family: $font-family-mono;
  font-size: 20px;
}
.newstime {
  color: $deeppink;
  font-size: 18px;
}
.newstitle {
  color: black; //black
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: darkgray;
  margin-bottom: 8px;
}

.newstitle a {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: darkgray;
}

.newstext {
  color: $dark;
}

.newstext a {
  color: $dark;
}

.impressumtitle {
  color: $light;
  font-weight: bold;
  margin-bottom: 4px;
}
.impressumtext {
  color: $light;
}


// Medium devices (tablets, 768px and up)
@media (max-width: $media-breakpoint-1) {
  @import "small";
}

// Large devices (tablets, 768px and up)
@media (min-width: ($media-breakpoint-1+1)) {
 @import "large";
}