{{define "header_content"}}
{{ $data := . }}
<div id="menu-1-content" class="menu-content">
    <h3>
        Institutionen
    </h3>
    {{ range $inst := .Institutions }}
        <div class="filter-entry">
            <a class="{{ if (eq $data.Institution $inst.Id)}} selected{{ end }}" href="{{$data.LinkHome}}?{{if (ne $data.Institution $inst.Id) }}institution={{ $inst.Id }}{{ end }}">{{ $inst.Name }}</a>
        </div>
    {{ end }}
</div>
<div id="menu-2-content" class="menu-content">
    <h3>
        Tags
    </h3>
    {{ range $t := .Tags }}
        <div class="filter-entry">
            <a class="{{ if (eq $data.Tag $t.Id )}} selected{{ end }}" href="{{$data.LinkHome}}?{{ if (ne $data.Tag $t.Id) }}tag={{ $t.Id }}{{ end }}">{{ $t.Tag }}</a>
        </div>
    {{ end }}
</div>
<div id="hamburger-content" class="hamburger-content">
    <h3 >
        <div class="filter-entry">
            <a class="" href="{{$data.LinkHome}}">Home</a>
        </div>
        <div class="filter-entry">
            <a class="" href="{{$data.LinkNews}}">News</a>
        </div>
        <div class="filter-entry">
            <a class="" href="{{$data.LinkAbout}}">Information</a>
        </div>
    </h3>
</div>
<div id="menu-1" class="menu box5">
    <a href="javascript:window.hide(document.getElementById('menu-2-content'));window.swapVisibility(document.getElementById('menu-1-content'));">
        <div style="margin: 0px; padding: 5px; width: 45pt; height: 45pt;">
            <svg id="Ebene_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                <defs>
                    <style>.cls-institution{fill:#1A1A1A;}</style>
                </defs>
                <polygon class="cls-institution" points="61.82 26.28 40.63 5.08 19.43 26.28 61.82 26.28"/>
                <polygon class="cls-institution" points="19.45 32.9 19.45 75.46 61.92 75.46 61.92 32.9 19.45 32.9"/></svg>
        </div>
    </a>
</div>
<div id="menu-2" class="menu box6">
    <a style="text-decoration: none;" href="javascript:window.hide(document.getElementById('menu-1-content'));window.swapVisibility(document.getElementById('menu-2-content'));">
        <div style="margin-top: 1px; padding-top: 5px; padding-left: 5px; width: 58px; height: 58px;">
            <svg id="Ebene_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><defs>
                    <style>x§
                        .cls-hash{fill:#1A1A1A;}
                    </style>
                </defs><rect class="cls-hash" x="20.83" y="34.48" width="59.21" height="8.62" transform="translate(89.23 -11.64) rotate(90)"/><rect class="cls-hash" x=".27" y="34.48" width="59.21" height="8.62" transform="translate(68.67 8.93) rotate(90)"/><rect class="cls-hash" x="10.34" y="44.33" width="59.21" height="8.62" transform="translate(79.88 97.28) rotate(180)"/>
                    <rect class="cls-hash" x="10.34" y="23.76" width="59.21" height="8.62" transform="translate(79.88 56.15) rotate(180)"/>
            </svg>
            {{/*           <svg
                    viewBox="0 0 80 80"
                    width="60px"
                    height="60px"
                    y="0px"
                    x="0px"
                    id="Ebene_1"
                    version="1.1">
                <style
                        id="style2"
                        type="text/css">
                    .st0{fill:#FCE9F3;}
                </style>
                <path
                        id="path4"
                        d="M41.9,39.5c0.9-1.9,1.5-4,1.5-6.2c0-7.6-6.2-13.8-13.8-13.8s-13.8,6.2-13.8,13.8S22,47.1,29.6,47.1  c4.5,0,8.6-2.2,11.1-5.6L57.1,53l1.3-1.9L41.9,39.5z M29.6,45.1c-6.5,0-11.8-5.3-11.8-11.8s5.3-11.8,11.8-11.8s11.8,5.3,11.8,11.8  S36.1,45.1,29.6,45.1z"
                        class="st0" />
            </svg>
 */}}
        </div>
    </a>
</div>
{{end}}